body{
    background-color: #100e19;
    color: #9ea5ac;
}

h1{
    background-image: linear-gradient(90deg,#d62900,#ff9b55,#d461a6,#a50062);
    /* background-clip: text; */
    color: #13111c;
}

h1::innertext{
    display: none;
}

p b{
    /*not looking for element in specific tag, can simply write as tag element;; ie all b in p*/
    color: orange;
}

.nav-wrapper>a{
    color: gold;
}

.message{
    color: #ae1e1d;
}

.profile-container{
    display: flex;
    align-items: center;
    margin-left: 25%;
}
.profile-pic>img{
    border-radius: 50%;
    
}

.list-skills>ul{
    list-style-type: circle;
}

.list-skills{
    display: flex;
    align-items: center;

}